<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="demo.feng.UserMapper">-->

<!--    <resultMap type="demo.feng.User" id="ff">&lt;!&ndash;无单双概念 得配置 写上sql 才有效果&ndash;&gt;-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="name" property="name"/>-->
<!--    </resultMap>-->

<!--    &lt;!&ndash;    <insert id="insertuser" parameterType="java.util.Map">&ndash;&gt;-->
<!--    &lt;!&ndash;        insert into class(name) values(#{name});&ndash;&gt;-->
<!--    &lt;!&ndash;    </insert>&ndash;&gt;-->

<!--    <insert id="insertuser" parameterType="demo.feng.User">-->
<!--        insert into class(name,addr,age) values(#{name},#{addr},#{age});-->
<!--    </insert>-->

<!--    <select id="userquery" resultMap="ff">-->
<!--        select * from class-->
<!--    </select>-->

<!--    <select id="queryid" resultMap="ff">-->
<!--        select * from class where id=#{id}-->
<!--    </select>-->

<!--    <delete id="userdelete" parameterType="int">-->
<!--        delete from class where id =#{id}-->
<!--    </delete>-->

<!--    <update id="userupdate" parameterType="demo.feng.User">-->
<!--        update class set name=#{name},addr=#{addr},age=#{age} where id=#{id};-->
<!--    </update>-->


<!--</mapper>-->
